/* styling for included classes goes in this file */

/* basic breadcrumb styling */
ul#crumbs{
    padding:0px;
}

#crumbs li{
    display: inline;
    padding:0px 5px;
}

#crumbs a{
    color: #474747;
}