/* styling for included classes goes in this file */

/* basic pagination styling */
.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
    text-decoration:none;
}

.navigation li {
    display: inline;
}

.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
    cursor: pointer;
    padding: 12px;
}

/* basic breadcrumb styling */
ul#crumbs{
    padding:0px;
}

#crumbs li{
    display: inline;
    padding:0px 5px;
}

#crumbs a{
    color: #474747;
}